<form role="form" class="row form-inline post-form" id="cinema-form">
  <div class="form-group col-md-8">
    <div class="form-block">
      <input type="text" name="name_orig" class="form-control input-sm" placeholder="Ориг. название" style="width: 17%;">
      <b>|</b>
      <input type="text" name="name_ru" class="form-control input-sm" placeholder="Рус. название" style="width: 17%;">
      <b>|</b>
      <input type="text" name="year" class="form-control input-sm" placeholder="Год" style="width: 8%;">
      <b>|</b>
      <input type="text" name="from" class="form-control input-sm" placeholder="Страна" style="width: 15%;">
      <b>| Реж.:</b>
      <input type="text" name="director" class="form-control input-sm" placeholder="Режиссер" style="width: 15%;"></br>
    </div>

    <div class="form-block">
      <input type="text" name="poster" class="form-control input-sm" placeholder="Постер (ссылка на изображение)" style="width: 50%;"></br>
    </div>

    <div class="form-block">
      <input type="text" name="trailer" class="form-control input-sm" placeholder="Трейлер" style="width: 17%;">
      <b>|</b>
        <input type="text" name="imdb" class="form-control input-sm" placeholder="IMDb" style="width: 17%;">
      <b>|</b>
      <input type="text" name="kinopoisk" class="form-control input-sm" placeholder="Кинопоиск" style="width: 17%;">
      <b>|</b>
      <input type="text" name="rutracker" class="form-control input-sm" placeholder="Rutracker" style="width: 17%;"></br>
    </div>

    <div class="form-block">
      <textarea class="form-control input-sm" name= "annotation" placeholder="Аннотация (цитата)" style="width: 50%;"></textarea></br>
    </div>
    <div class="form-block">
      <textarea type="text" class="form-control input-sm" name="my_annotation" placeholder="Аннотация (от автора)" style="width: 50%;"></textarea></br>
    </div>

    <div class="form-block">
      <button type="submit" class="btn btn-default" id="yarrr">YARRR!</button>
    </div>
  </div>
</form>
