<form role="form" class="row form-inline post-form" id="music-form">
  <div class="form-group col-md-8">
    <div class="form-block">
      <input type="text" name="artist" class="form-control input-sm" placeholder="Исполнитель" style="width: 17%;">
      <b>ー</b>
      <input type="text" name="album-name" class="form-control input-sm" placeholder="Название альбома" style="width: 25%;">
      <b>(</b>
      <input type="text" name="year" class="form-control input-sm" placeholder="Год" style="width: 8%;">
      <b>)</b>
    </div>
    <div class="form-block">
      <input type="text" name="tags" class="form-control input-sm" placeholder="Жанры (тэги, направления) через запятую" style="width: 40%;">
    </div>

    <div class="form-block">
      <input type="text" name="cover" class="form-control input-sm" placeholder="Обложка (ссылка на изображение)" style="width: 50%;"></br>
    </div>

    <div class="form-block">
      <textarea class="form-control input-sm" name= "annotation" placeholder="Аннотация" style="width: 75%;"></textarea></br>
    </div>

    <div class="form-block">
      <b>Скачать: </b>
      <input type="text" name="rutracker-mp3" class="form-control input-sm" placeholder="Rutracker mp3" style="width: 17%;">
      <b>|</b>
        <input type="text" name="rutracker-flac" class="form-control input-sm" placeholder="Rutracker FLAC" style="width: 17%;">
      <b>|</b>
      <input type="text" name="other-load" class="form-control input-sm" placeholder="Откуда-нибудь еще" style="width: 20%;">
    </div>

    <div class="form-block">
      <b>Послушать / купить: </b>
      <input type="text" name="itunes" class="form-control input-sm" placeholder="iTunes" style="width: 13%;">
      <b>|</b>
        <input type="text" name="ya-music" class="form-control input-sm" placeholder="ЯМузыка" style="width: 13%;">
      <b>|</b>
      <input type="text" name="bandcamp" class="form-control input-sm" placeholder="Bandcamp" style="width: 13%;">
      <b>|</b>
      <input type="text" name="soundcloud" class="form-control input-sm" placeholder="Soundcloud" style="width: 13%;">
      <b>|</b>
      <input type="text" name="other-listen" class="form-control input-sm" placeholder="Где-нибудь еще" style="width: 15%;">
    </div>

    <div class="form-block">
      <button type="submit" class="btn btn-default" id="yarrr">YARRR!</button>
    </div>
  </div>
</form>
